/*authentication components CSS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  /* SINGUP PAGE CSS */
    .signupform {
      max-width: 400px;
      margin: 50px auto;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }
    
    h2 {
      text-align: center;
      color: #333;
    }
    
    form {
      display: flex;
      flex-direction: column;
    }
    
    label {
      margin-top: 10px;
      color: #555;
    }
    
    input {
      padding: 10px;
      margin: 5px 0 15px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    button {
      background-color: #007bff;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #0056b3;
    }
    
    h6 {
      margin-top: 20px;
      text-align: center;
      color: #555;
    }
    
    a {
      color: #007bff;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
  
  
    /* LOGIN PAGE CSS */
  
    .login-container {
      max-width: 400px;
      margin: 50px auto;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }
    
    h2 {
      text-align: center;
      color: #333;
    }
    
    form {
      display: flex;
      flex-direction: column;
    }
    
    label {
      margin-top: 10px;
      color: #555;
    }
    
    input {
      padding: 10px;
      margin: 5px 0 15px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    button {
      background-color: #007bff;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #0056b3;
    }
    
    h6 {
      margin-top: 20px;
      text-align: center;
      color: #555;
    }
    
    a {
      color: #007bff;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }